a.contact.shadow-sm.ps-3.pe-4.py-4.mb-3(href="#") 
  div.avatar-overlay
    img.avatar(src=`./assets/${user.avatar}`)
  div.contact-body.pe-xl-4.pe-3
    div.contact-header.d-flex
      strong.contact-title= user.name
      if page.isChat
        small.contact-text.align-self-start.ms-auto= user.time
    unless page.isChat
      small.contact-text= user.status
    else
      small.d-block.contact-text.text-truncate= user.message