a.contact.shadow-sm.p-4.ps-3.mb-3(href="#") 
  img.avatar(src=`./assets/${user.avatar}` height="45" width="45")
  div.contact-body
    div.d-flex
      h6.title= user.name
      if page.isMessages
        p.text.align-self-start.ms-auto= user.time
    unless page.isMessages
      p.text= user.status
    else
      p.text.text-truncate= user.message
      