a.contact.d-flex.gap-4.align-items-center.justify-content-beetween.text-decoration-none.shadow-sm.ps-3.pe-4.py-4.mb-3(href="#") 
  div.avatar-overlay
    img.avatar(src=`./assets/${user.avatar}`)
  div.contact-body.pe-xl-4.pe-3.pb-2
    div.contact-header.d-flex
      strong.contact-title.text-dark= user.name
      if page.isMessages
        small.lh-base.contact-text.text-secondary.align-self-start.ms-auto= user.time
    unless page.isMessages
      small.lh-base.contact-text.text-secondary= user.status
    else
      small.lh-base.d-block.contact-text.text-secondary.text-truncate= user.message