a.contact.shadow-sm.ps-3.pe-5.py-4.mb-3(href="#") 
  div.avatar-overlay.me-4
    img.avatar(src=`/app/assets/${user.avatar}`)
  div.contact-body
    div.contact-header.d-flex
      strong.contact-title= user.name
      if page.isChat
        small.contact-text.align-self-start.ms-auto= user.time
    unless page.isChat
      small.contact-text= user.status
    else
      small.d-block.contact-text.text-truncate= user.message